QPushButton {
border: 0px solid;
image: url(:/tk-framework-qtwidgets/search_widget/clear_search.png);
width: 16;
height: 16;
}
QPushButton::hover {
image: url(:/tk-framework-qtwidgets/search_widget/clear_search_hover.png);
}